body {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

header {
  margin: 25px;
  padding: 0.5rem;
  width: 100%;  
  font-size: 40px;
  font-weight: bolder;
}

h3, h4 {
  margin: 0;
  color:white;
}

.build-car .car-list {
  border: 1px solid white;
}
