body {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

ul {
  margin: auto;
  padding-left: 10px;
}

.container {
  margin: 0;
  width: 100%;
}

header {
  margin: 25px;
  padding: 0.5rem;
  width: 100%;  
  font-size: 40px;
  font-weight: bolder;
  background-color: cadetblue;
  border: 1px solid white;
  box-shadow: 10px 5px 5px gray;
}

h3, h4 {
  margin: 0;
  color:white;
}

.sell-own-car  {
  border: 1px solid white;
  text-align: left;
}

.car-poster {
  width: 12rem;
}

.card-title {
  color: azure;
  font-weight: bolder;
}

.car-image {
  margin-bottom: 5px;
}

h4 {
  margin: 10px;
}

label {
  color: white;
}

.car-details, .car-list{
  border: 1px solid white;
  padding: 0 5px;
}