body {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  max-height: 55rem;
}

ul {
  margin: auto;
  padding-left: 10px;
  display: flex;  
  flex-wrap: wrap;
}

.container {
  margin: 0;
  width: 100%;
  position: relative;
}

header {
  margin: 25px;
  padding: 0.5rem;
  width: 100%;  
  font-size: 40px;
  font-weight: bolder;
  background-color: cadetblue;
  border: 1px solid white;
  box-shadow: 10px 5px 5px gray;
}

h3, h4 {
  margin: 0;
  color:white;
}

.sell-own-car  {
  border: 1px solid white;
  text-align: left;
}

.car-poster {
  width: 12rem;
}

.card-title {
  color: azure;
  font-weight: bolder;
}

.car-image {
  margin-bottom: 5px;
}

h4 {
  margin: 10px;
}

label {
  color: white;
}

.car-details, .car-list {
  border: 1px solid white;
  padding: 0 5px;
}

.car-details {
  padding-top: 20px;
}

.list {
  max-height: 43rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.detail-image {
  margin-top: 2rem;
  height: 50%;
  width: 90%;
}

.specifications {
  padding-top: 40px;
}

.details {
  border: 1px solid white;
  padding-top: 20px;
  text-align: left;
  margin: 2rem;
  padding-left: 5rem;
  color: white;
  font-weight: bolder;
}

.card-body {
  padding: 0;
}
